.slider {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  /* width: 60vw; */
  width: 42vw;
}
.imgContainer {
  width: 7vw;
  height: 5vw;
  /* border: 1px solid black; */
}
.imgContainer img {
  width: 100%;
  height: 100%;
}
