.mainContainer {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "popins";
}
/* .parentContainer {
  border: 2px solid green;
} */
.cnt {
  /* border: 1px solid black; */
  font-weight: bold;
  font-size: 2.8vw;
  text-align: center;
}
.title {
  /* border: 1px solid black; */
  font-size: 1.3vw;
  text-align: center;
  font-weight: bold;
}

/* for tablet */
@media screen and (max-width: 600px) {
  .cnt {
    font-size: 4.4vw;
  }
  .title {
    font-size: 2.4vw;
  }
}

/* for mobile */
@media screen and (max-width: 480px) {
  .cnt {
    font-size: 6vw;
  }
  .title {
    font-size: 2.5vw;
  }
}
